@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-ExtraBold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-ExtraBold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Light.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Light.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Regular.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	color: currentColor;
	text-decoration-color: #ff153c80;
	transition: all 0.2s;
}

a:hover {
	text-decoration-color: #ff153cff;
	transition: none;
}

.wrapper {
	width: 90%;
	max-width: 1320px;
	margin: 0 auto;
}

.header {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	color: white;
	background: url(../img/header-bkg.jpg) no-repeat center right / cover;
}

.header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #00000000, #00000080);
}

.header .wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*padding: 260px 60px;*/
}

.header__container {
	width: 35vw;
	max-width: 670px;
	margin-left: auto;
}

.header__title {
	font-size: 38px;
	font-weight: 300;
	margin-bottom: 25px;
}

.header__subtitle {
	margin-bottom: 30px;
	font-size: 24px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 60px;
	color: white;
	font-size: 24px;
	font-weight: 700;
	background-color: #ff153c;
	border: none;
	border-radius: 50px;
}

.btn:hover {
	cursor: pointer;
}

.dark {
	color: white;
}

.decor {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 380px;
	height: 1200px;
	margin-top: 60%;
	background: url("../img/decor.png") no-repeat center left / cover;
}

.free {
	position: relative;
	padding: 60px 0 120px;
	background: url("../img/dark-bkg.jpg") no-repeat center / cover;
}

.logo {
	width: 200px;
}

.free__title {
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 78px;
	font-weight: 700;
	text-align: center;
}

.free__subtitle {
	max-width: 65%;
	margin: 0 auto;
	font-size: 48px;
	text-align: center;
}

.free__block {
	margin-top: 70px;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.columns__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
}

.columns__item + .columns__item {
	margin-left: 55px;
}

._accent {
	color: #e9bd00;
}

.free .text {
	margin-bottom: 120px;
	font-size: 48px;
}

.video-container {
	width: 50%;
	height: 400px;
	background-color: wheat;
}

.knows {
	position: relative;
	z-index: 1;
	background-color: #050e19;
}

.knows:after {
	content: "";
	position: absolute;
	top: -120px;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #050e19 90%, #050e1900);
}

.knows .wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 70px;
}

.soldier {
	position: relative;
	width: 500px;
	left: -15%;
}

.knows__title {
	margin-bottom: 120px;
	font-size: 48px;
	font-weight: 700;
}

.list {
	font-size: 30px;
	list-style-position: inside;
}

.for {
	padding: 120px 0;
}

.for__title {
	font-size: 48px;
	font-weight: 700;
}

.for__container {
	margin-top: 100px;
}

.for__item {
	flex-direction: row;
	align-items: flex-end;
	width: 30%;
}

.for__item:before {
	content: attr(data-num);
	position: relative;
	top: -13px;
	margin-right: 5px;
	color: #645fde;
	font-size: 90px;
	font-weight: 700;
}

.text-accent {
	font-weight: 700;
}

.for__text {
	font-size: 24px;
}

.after {
	padding: 120px 0;
}

.after__title {
	font-size: 48px;
	font-weight: 700;
}

.after__list {
	margin-top: 100px;
	columns: 2;
	column-gap: 80px;
	list-style-type: none;
}

.after__list li {
	position: relative;
	padding-left: 30px;
	padding-bottom: 10px;
}

.after__list li:before {
	content: "—";
	position: absolute;
	left: 0;
}

.authors {
	padding: 120px 0;
}

.authors__title {
	margin-bottom: 70px;
	font-size: 48px;
	font-weight: 700;
}

.authors__container {
	display: flex;
	justify-content: space-around;
}

.author {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	font-size: 28px;
	text-align: center;
}

.author__img-block {
	position: relative;
	display: block;
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
}

.author__img-block:before {
	content: "";
	position: absolute;
	left: -40px;
	top: -10%;
	z-index: -1;
	width: 100%;
	height: 120%;
	background: url("../img/sphere.png") no-repeat center left / contain;
}

.author__img {
	width: 100%;
	height: 100%;
}

.author__name {
	font-weight: 700;
}

.slider-section {
	padding: 170px 0 110px;
	background-color: #269be3;
}

.slide {
	width: 50%;
	max-width: 900px;
	margin: 0 75px;
	padding: 80px 70px;
	font-size: 28px;
	background-color: white;
	transition: opacity 0.2s;
}

.slide:not(.slick-active) {
	opacity: 0.5;
}

.slick-arrow {
	z-index: 2;
	width: 50px;
	height: 80px;
}

.slick-prev {
	left: 170px;
	margin-top: -40px;
	transform-origin: center;
	transform: scaleX(-1);
}

.slick-next {
	right: 170px;
}

.slick-prev:before, .slick-next:before {
	content: "";
	display: block;
	width: 50px;
	height: 80px;
	background: url("../img/arrow.png") no-repeat center / contain;
}

.slide__wrapper {
	display: flex;
}

.slide__img-block {
	flex: 0 0 auto;
	width: 200px;
	height: 200px;
	margin-right: 50px;
	border-radius: 50%;
	background-color: #645fde;
}

.slide__img {
	width: 100%;
	height: auto;
}

.slide__name {
	margin-bottom: 30px;
	font-weight: 700;
}

.slider__btn {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	padding: 120px 0;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.author__img:before {
		background-image: url("../img/sphere@2x.png");
	}

	.decor {
		background-image: url("../img/decor@2x.png");
	}
}
