@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-ExtraBold.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-ExtraBold.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Light.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Light.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";

	src: url("../fonts/Gilroy-Regular.svg") format("svg"), /* Legacy iOS */
	url("../fonts/Gilroy-Regular.woff") format("woff"), /* Modern Browsers */
	url("../fonts/Gilroy-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Gilroy", Arial, sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	color: currentColor;
	text-decoration-color: #ff153c80;
	transition: all 0.2s;
}

a:hover {
	text-decoration-color: #ff153cff;
	transition: none;
}

.wrapper {
	width: 90%;
	max-width: 1320px;
	margin: 0 auto;
}

.header {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	color: white;
	background: url(../img/header-bkg.jpg) no-repeat center right / cover;
}

.header:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, #00000000, #00000080);
}

.header .wrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/*padding: 260px 60px;*/
}

.header__container {
	width: 35vw;
	min-width: 500px;
	max-width: 670px;
	margin-left: auto;
}

.header__title {
	font-size: 3.8rem;
	font-weight: 300;
	margin-bottom: 25px;
}

.header__subtitle {
	margin-bottom: 30px;
	font-size: 2.4rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 6rem;
	color: white;
	font-size: 2.4rem;
	font-weight: 700;
	background-color: #ff153c;
	border: none;
	border-radius: 50px;
}

.btn:hover {
	cursor: pointer;
}

.dark {
	color: white;
}

.decor {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 20%;
	max-width: 380px;
	height: 62.5%;
	max-height: 1200px;
	margin-top: 60%;
	background: url("../img/decor.png") no-repeat center left / cover;
}

.free {
	position: relative;
	padding: 6rem 0 12rem;
	background: url("../img/dark-bkg.jpg") no-repeat center / cover;
}

.logo {
	display: block;
	width: 200px;
}

.free__title {
	margin-top: 6rem;
	margin-bottom: 4rem;
	font-size: 7.8rem;
	font-weight: 700;
	text-align: center;
}

.free__subtitle {
	max-width: 65%;
	margin: 0 auto;
	font-size: 4.8rem;
	text-align: center;
}

.free__block {
	margin-top: 7rem;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.columns__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 50%;
}

.columns__item + .columns__item {
	margin-left: 2.8vw;
}

._accent {
	color: #e9bd00;
}

.free .text {
	margin-bottom: 12rem;
	font-size: 4.8rem;
}

.video-container {
	width: 50%;
	height: 400px;
	background-color: wheat;
}

.knows {
	position: relative;
	z-index: 1;
	background-color: #050e19;
}

.knows:after {
	content: "";
	position: absolute;
	top: -12rem;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #050e19 90%, #050e1900);
}

.knows .wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 7rem;
}

.soldier {
	position: relative;
	align-self: flex-end;
	width: 25vw;
	max-width: 500px;
	left: -15%;
}

.knows__title {
	margin-bottom: 12rem;
	font-size: 4.8rem;
	font-weight: 700;
}

.knows__list {
	margin-bottom: 10rem;
}

.list {
	font-size: 3rem;
	list-style-position: inside;
}

.for {
	padding: 12rem 0;
}

.for__title {
	font-size: 4.8rem;
	font-weight: 700;
}

.for__container {
	margin-top: 10rem;
}

.for__item {
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: wrap;
	width: 30%;
}

.for__item:before {
	content: attr(data-num);
	position: relative;
	top: -13px;
	margin-right: 5px;
	color: #645fde;
	font-size: 9rem;
	font-weight: 700;
}

.text-accent {
	font-weight: 700;
}

.for__text {
	flex: 0 0 80%;
	min-width: 260px;
	font-size: 2.4rem;
}

.after {
	padding: 12rem 0;
}

.after__title {
	font-size: 4.8rem;
	font-weight: 700;
}

.after__list {
	margin-top: 10rem;
	columns: 2;
	column-gap: 8rem;
	list-style-type: none;
}

.after__list li {
	position: relative;
	padding-left: 3rem;
	padding-bottom: 1rem;
}

.after__list li:before {
	content: "—";
	position: absolute;
	left: 0;
}

.authors {
	padding: 12rem 0;
}

.authors__title {
	margin-bottom: 7rem;
	font-size: 4.8rem;
	font-weight: 700;
}

.authors__container {
	display: flex;
	justify-content: space-around;
}

.author {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	font-size: 2.8rem;
	text-align: center;
}

.author__img-block {
	position: relative;
	display: block;
	width: 20rem;
	height: 20rem;
	margin-bottom: 3rem;
}

.author__img-block:before {
	content: "";
	position: absolute;
	left: -4rem;
	top: -10%;
	z-index: -1;
	width: 100%;
	height: 120%;
	background: url("../img/sphere.png") no-repeat center left / contain;
}

.author__img {
	width: 100%;
	height: 100%;
}

.author__name {
	font-weight: 700;
}

.slider-section {
	padding: 17rem 0 11rem;
	background-color: #269be3;
}

.slide {
	width: 70vw;
	max-width: 900px;
	margin: 0 5vw;
	padding: 8rem 7rem;
	font-size: 2.8rem;
	background-color: white;
	transition: opacity 0.2s;
}

.slide:not(.slick-active) {
	opacity: 0.3;
}

.slide:not(.slick-active) > * {
	opacity: 0;
}

.slick-arrow {
	z-index: 2;
	width: 50px;
	height: 80px;
}

.slick-prev {
	left: 5vw;
	margin-top: -40px;
	transform-origin: center;
	transform: scaleX(-1);
}

.slick-next {
	right: 5vw;
}

.slick-prev:before, .slick-next:before {
	content: "";
	display: block;
	width: 50px;
	height: 80px;
	background: url("../img/arrow.png") no-repeat center / contain;
}

.slide__wrapper {
	display: flex;
}

.slide__img-block {
	flex: 0 0 auto;
	width: 20rem;
	height: 20rem;
	margin-right: 5rem;
	border-radius: 50%;
	background-color: #645fde;
}

.slide__img {
	width: 100%;
	height: auto;
}

.slide__name {
	margin-bottom: 3rem;
	font-weight: 700;
}

.slider__btn {
	margin-top: 10rem;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	padding: 12rem 0;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.author__img:before {
		background-image: url("../img/sphere@2x.png");
	}

	.decor {
		background-image: url("../img/decor@2x.png");
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 50%
	}

	.header {
		background-position: center;
	}

	.header:after {
		background-image: none;
		background-color: #00000080;
	}

	.header .wrapper {
		justify-content: center;
	}

	.header__container {
		width: 60vw;
		max-width: none;
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 37.5%;
	}

	.header:after {
		background-color: #000000bf;
	}

	.header__container {
		width: 80vw;
		min-width: auto;
	}

	.header__title {
		font-size: 5.8rem;
	}

	.header__subtitle {
		font-size: 4.4rem;
	}

	.btn {
		font-size: 4.4rem;
	}

	.columns {
		flex-direction: column;
	}

	.video-container {
		width: 100%;
	}

	.columns__item {
		width: 100%;
	}

	.columns__item + .columns__item {
		margin-left: 0;
		margin-top: 10rem;
	}

	.decor {
		display: none;
	}
}

@media (max-width: 480px) {
	.logo {
		margin: 0 auto;
	}

	.after__list {
		columns: auto;
	}

	.free__subtitle {
		max-width: none;
	}

	.soldier {
		display: none;
	}

	.slide {
		width: 90vw;
	}

	.slide__wrapper {
		flex-direction: column;
		align-items: center;
	}

	.slide__img-block {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.slide__name {
		text-align: center;
	}

	.slick-arrow {
		display: none;
	}

	.slick-dots {
		bottom: -7rem;
	}

	.slick-dots li button:before {
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: #ff153c;
	}
}
